<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimelesS V2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9389E38A1F5403F9006A9FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9389E39E1F5403FA006A9FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9389E3A91F5403FA006A9FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
